ENVIRONMENT=your-environment-here
PORT=your-port-here
HOST=0.0.0.0

DATABASE_URL=your-database-url

REDIS_URL=your-redis-url

SECRET_KEY=your-secret-key-here
ALGORITHM=your-algorithm-here
ACCESS_TOKEN_EXPIRE_MINUTES=your-access-token-expire-minutes
REFRESH_TOKEN_EXPIRE_DAYS=your-refresh-token-expire-days

PREPARE_DATA_ON_START=your-boolean-value-for-prepare-data-on-start
NLP_INPUT_PATH=your-nlp-input-path
NLP_OUTPUT_DIR=your-nlp-output-dir
NLP_TEXT_COLUMN=your-nlp-text-column
NLP_LABEL_COLUMN=your-nlp-label-column
NLP_SPLIT_MODE=your-nlp-split-mode
NLP_TEST_SIZE=your-nlp-test-size
NLP_VALIDATION_SIZE=your-nlp-validation-size
NLP_RANDOM_STATE=your-nlp-random-state
NLP_LOWERCASE_TEXT=your-nlp-lowercase-text
NLP_NO_STRATIFY=your-nlp-no-stratify
NLP_KEEP_DUPLICATES=your-nlp-keep-duplicates
NLP_AUTO_LABEL=your-nlp-auto-label
NLP_ALLOW_CUSTOM_LABELS=your-nlp-allow-custom-labels