ENVIRONMENT=your-environment-here
PORT=your-port-here
HOST=0.0.0.0

PORT_NGINX=80

DATABASE_URL=your-database-url
PGBOUNCER=true

SECRET_KEY=your-secret-key-here
ALGORITHM=your-algorithm-here
ACCESS_TOKEN_EXPIRE_MINUTES=your-access-token-expire-minutes
REFRESH_TOKEN_EXPIRE_DAYS=your-refresh-token-expire-days

KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

HF_TOKEN=your_hf_token
HF_MODEL=your_hf_model

MIDTRANS_SERVER_KEY=your_new_server_key
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_MERCHANT_ID=your_merchant_id