ENVIRONMENT=your-environment-here
PORT=your-port-here
HOST=0.0.0.0

DATABASE_URL=your-database-url
PGBOUNCER=true

SECRET_KEY=your-secret-key-here
ALGORITHM=your-algorithm-here
ACCESS_TOKEN_EXPIRE_MINUTES=your-access-token-expire-minutes
REFRESH_TOKEN_EXPIRE_DAYS=your-refresh-token-expire-days

PREPARE_DATA_ON_START=false
PREPROCESS_DATA_ON_START=false
FEATURE_EXTRACTION_ON_START=false
TRAIN_CLASSIFIER_ON_START=false
EVALUATE_CLASSIFIER_ON_START=false